.auth_style_wrapper {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px auto;
    border-radius: 12px;
    border: 1px solid #3333;
    overflow: hidden;
}

.cover_img_container {
    background-size: cover;
    background-position: center;
    border-right: 1px solid #3333;
}

.form_container {
    padding: 20px;
}